<h1>Need to edit your Scorecard?</h1>
<%= button_to 'Back', scorecards_path, method: :get %>
<div class="show-scorecard"></div>

<%= render 'form' %>


<p><%= button_to 'Delete Scorecard', scorecard_path(@scorecard), method: :delete %></p>