<h1>Scorecards</h1>
<%= link_to 'New Scorecard', new_scorecard_path %>
<%= link_to 'Edit Scorecard', edit_scorecard_path %>

<% @scorecard.each do |card| %>
<div class="scorecards" data-id="<%= card.id %>">"

	<% end %>

	<br>