<!-- <div class="col-md-12 row">
  <div class="col-md-6">
    <div class="image-link">
      <h2>New Scorecard</h2>
    </div>
  </div>
  <div class="col-md-6">
    <div class="image-link">
      <h2>Some Other Thing</h2>
    </div>
  </div>
</div> --> 

<!-- <div class="col-md-12 row"> -->
  <!-- <div class="col-md-6"> -->
   <!--  <div class="Welcome">
      <h2>Welcome To <div id="forescore">ForeScore</div></h2>
        <p>ForeScore is a home for your golf scorecard information so you can easily track your game, look back at past scores and compare your play at different times./n To add and view your scorecards please sign in./n No account yet? Go ahead and create an account so you can start tracking your game.</p> -->
 <!--    </div> -->
 <!--  </div> -->
  <!-- <div class="col-md-6">
    <div class="image-link">
      <h2>Some Other Thing</h2>
    </div>
  </div>
</div>