<div class="col-md-12 row">
  <div class="col-md-6">
    <div class="image-link">
      <h2>New Scorecard</h2>
    </div>
  </div>
  <div class="col-md-6">
    <div class="image-link">
      <h2>Some Other Thing</h2>
    </div>
  </div>
</div>