<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<%= @api_courses %>

<% @api_courses.each do |course| %>
<!-- erb - - access keys of the hash -->
	<%  %>


	{
		"Name" =>	"",
		"WWWAddress" => "",
		"PhoneNumber => '',
		"Country" => "",
		"State" => "",
		"City" => "",
		"ZipCode" => "",
		"Address1" => ""
}
<% end %>



<!-- pilot_one = {
"name" => "Kara Thrace",
"age" => 32,
"rank" => "Lieutenant",
"callsign" => "Starbuck"
}
 -->