/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body{
 	height: 100%;
 }

nav.navbar.navbar-default {
	background-color: beige;
	margin-bottom: 0;
}

.navbar-header h1 {
	font-family: 'Lobster', cursive;
	margin: 0  0 20px 20px;
	padding: 5px 0 0 0;
	width: 100%;
	font-size: 65px;

	a {
		text-decoration: none;
		color: darkgreen;

		&:hover {
			color: lightgreen;
		}
	}
}

.navbar ul {
	margin: 20px 20px 0 0;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
}


#background-photo{
	/*background-image: url("PutterCropped.jpg");*/
	background: image-url("PutterCropped.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*height: 1000px;*/
	min-height: 100%;
}


h3 {
	font-family: 'Avant Garde', 'Century Gothic', sans-serif;
	font-size: 20px;
}

.container:first-of-type {
	max-width: 500px;
	margin-top: 25px;
	background-color: white;
}

#scorecard {
	height: 100px;
	width: 100px;
}


.container .welcome {
	font-family: sans-serif;
	margin-bottom: 50 0 0 10px;
	background-color: none;
	border-radius: 10px;
}


.navbar.navbar-inverse.navbar-fixed-bottom {
	background-color: beige;
	margin: 0 0 0 0px;
	width: 10%;
	max-height: 5px;
	box-shadow: none;
}

.navbar-inner.navbar-content-center{
	background-color: beige;
	color: darkgreen;
	padding: 0 0 0 0;
}

p.text-muted {
	color: darkgreen;
}

.hello {
	font-family: 'Fjalla One', sans-serif;
}

.play-info {
	font-family: 'Avant Garde', 'Century Gothic', sans-serif;
}

.show-scorecard {
	font-size: 14px;
	font-family: sans-serif;
}

.scorecard-table-hole {
	color: #000080;
}

.scorecard-table-par {
	color: darkgreen;
}

.container {
	box-shadow: 10px 10px 10px #808080;
}

a:hover {
	color: darkgreen;
}



