// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.row #login {
	margin: auto;
	padding: 50px;
	height: 200px;
	width: 200px;
	text-align: center;
}*/

.login-button {
	padding: 20px;
}